/**********************************/
/************* Colors *************/
/**********************************/

$white: #ffffff;
$flashy-green: #0fe56c;
$flash-green: #13d266;
$light-green: #19be26;
$green-button: #3bc01d;
$mid-light-green: #1aa657;
$smooth-green: #1c833f;
$medium-green: #1f733c;
$dark-green: #1b4128;
$opaque-green: rgba(40, 103, 69, 0.5);
$dark-opaque-green: rgba(26, 166, 87, 0.35);
$sea-green: #1f6973;
$olive: #637e4d;
$light-blue: #22beee;
$clear-blue: #3186da;
$mid-light-blue: rgb(39, 129, 173);
$mid-blue: #1f5373;
$sea-blue: #034260;
$full-blue: #033660;
$dark-blue: rgba(19, 60, 89, 0.93);
$opaque-blue: rgba(31, 83, 115, 0.35);
$orange: #e5650a;
$opaque-orange: rgba(166, 80, 26, 0.35);

$red : red;
$sand : #aba97f;
$light-grey: rgba(121, 121, 121, 0.85);
$grey: rgba(121, 121, 121, 0.85);
$mid-grey: rgba(128, 128, 128, 0.16);
$dark-grey: rgba(145, 145, 145, 0.1);
$black: #000000;
