/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/**********************************/
/************* Basics *************/
/**********************************/
html body{
    font-family: 'Dosis', sans-serif;
    background-color: #ffffff;
    a:link{
        text-decoration: none;
    }

    li{
        list-style-type: none;
    }

    .marger{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        input{
            width: 70vw;
        }
    }
    .link{
        display: flex;
        margin: auto;
        width: 12vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0.8rem 1.2rem 0.8rem 1.5rem;
        background-color: #ffffff;
        color: #19be26;
        border: 1px solid #19be26;
        border-radius: 40px;
        font-size: 1.1rem;
        box-shadow: inset 0 0 0 0 #1f733c;
        transition: box-shadow ease-in .3s, color ease-in .3s;
        &:hover{
            margin-top: 2rem;
            color: #ffffff;
            box-shadow: inset 12vw 0 0 0 #1f733c;
            background-color: #FFFFFF;
            border: 1px solid #1f733c;
        }
        &:focus{
            background-color: #1f733c;
        }
    }
    .footer-links {
        a {
            color: white;
            &:hover{
                text-decoration: underline;
                color: #FFFFFF;
            }
        }
        li:first-child{
            margin-top: 1rem;
        }
        li{
            margin-bottom: 0.3rem;
        }
    }
}


/************************************/
/*********** header style ***********/
/************************************/

.header-list li a{
    background-color: #ffffff;
    color: #637e4d;
    padding: 0.4rem 0.9rem 0.4rem 0.9rem;
    border-radius: 4px;
    transition: all 0.3s;
    font-size: 1.2rem;
    &:hover{
        color: #ffffff;
        background-color: #637e4d;
    }
}


.principal-title a {
    color: #ffffff;
}


.principal-title{
    font-size: 1.6rem;
    padding-top: 0.8rem;
    a{
        transition: all .3s;
        &:hover{
            color: #aba97f;
        }
    }
}


/******************************/
/*********** Header ***********/
/******************************/

.header-background{
    background-color: #034260;
}

.footer{
    background-color: #034260;
    color: #ffffff;
    margin-top: 3rem;
    padding: 3rem;
    ul:last-child{
        margin-bottom: 0;
    }
    span{
        padding-left: 2rem;
        margin-bottom: 4rem;
        font-weight: bold;
        color: #22beee;
        text-shadow: 0px 1px 1px black;
    }
}

.register-form{
    display: flex;
    justify-content: center;
    border-radius: 0px 7px 7px 0px;
    width: 40vw;
    padding-left: 0.8rem;
    border-left: 1px solid #aba97f;
    background-color: #ffffff;
    label{
        display: flex;
        margin: 1.4rem 0rem 0.3rem 0rem;
    }
    input{
        width: 35vw;
        height: 45px;
        border-radius: 20px;
        border : 1px solid #aba97f;
        outline-color: #3186da;
        padding-left: 1rem;
    }
    .required:before{
        content: '*';
        color: red;
    }
    button{
        display: block;
        margin: auto;
        width: 25vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0.8rem 1.2rem 0.8rem 1.2rem;
        background-color: #ffffff;
        color: #19be26;
        border: 1px solid #19be26;
        border-radius: 40px;
        font-size: 1.2rem;
        box-shadow: inset 0 0 0 0 #1f733c;
        transition: box-shadow ease-in .3s, color ease-in .4s;
        &:hover{
            margin-top: 2rem;
            color: #ffffff;
            box-shadow: inset 25vw 0 0 0 #1f733c;
            background-color: #FFFFFF;
            border: 1px solid #1f733c;
        }
        &:focus{
            background-color: #1f733c;
        }
    }
}

.register-text{
    display: block;
    margin: auto;
    width: 30vw;
    color: #ffffff;
    a{
        color: #13d266;
        &:hover{
            color: #0fe56c;
            text-decoration: underline;
        }
    }
}

.register-container{
    width: 80vw;
    height: 100%;
    background-color: #034260;
    border : 1px solid #1b4128;
    border-radius: 7px;
    box-shadow: 1px 10px 70px rgba(145, 145, 145, 0.1);
    margin: 3rem
}

.h2-form-title{
    margin: 2rem 0rem 2rem 0rem;
}

.villa-group{
    .villa-card{
        box-shadow: 4px 40px 40px rgba(128, 128, 128, 0.12);
        border: 1px solid rgba(40, 103, 69, 0.25);
        background-color: white;
        opacity: 0.95;
        border-radius: 4px;
        transition: transform 0.5s;
        .informations{
            color: black;
            background-color: white;
            transition: background-color ease-in 10s , transform 0.6s;
            z-index:2;
            p:first-child{
                padding-top: 0.5rem;
            }
        }
        .hidden-link{
            text-align: center;
            padding-top: -30px;
            display: unset;
            color: white;
            transition: display .5s;
            .discover-link{
                display: block;
                margin-bottom: 1rem;
                margin-top: -2rem;
            }
        }
    }
    .villa-card:hover{
        background: linear-gradient(to top, #1f6973 10%, white 100%);
        box-shadow: 3px 15px 15px rgba(128, 128, 128, 0.45);
        opacity: 1;
        transform: translateY(-2%);
        border-radius: 4px;
        .hidden-link {
            background-color: #1f5373;
            display: block;
            border-radius: 4px;
        }
        .informations {
            background-color: white;
            transition: background-color  ease-out .1s, transform 0.7s;
            transform: translateY(-35%);
        }
    }
    img {
        max-width: 27vw;
        min-width: 27vw;
        min-height: 40vh;
        max-height: 40vh;
        z-index: 1;
        border-radius: 4px 4px 0 0;
    }
}

