/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans+Narrow&display=swap');

@import '_colors.scss';
@import '_basics.scss';
@import '_link.scss';
@import '_header.scss';
@import '_searchbar.scss';
@import '_footer.scss';
@import '_card.scss';
@import '_news.scss';
@import '_form.scss';

/*************************************/
/*********** Media Queries ***********/
/*************************************/

@media screen and (max-width: 1196px) {
    html body {
        .footer{
            .logo{
                margin-bottom: 3rem;
            }
        }
        .login-informations-block{
            .login-informations{
                flex-direction: column;
                min-width: 50%;
                justify-content: center;
                align-items: center;
                .sentences{
                    min-width: 100%;
                    min-height: 220px;
                    border-radius: 0px;
                }
                img{
                    height: 200px;
                    min-width: 100%;
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    html body {
        .page-container{
            width: 80vw;
            .informations-block{
                flex-direction: column;
                .block{
                    margin-bottom: 1rem;
                }
            }
        }
        .h2-title{
            padding-bottom: 4rem;
        }
        .padding-link{
            padding-bottom: 3rem;
        }
    }
}


@media screen and (max-width: 620px){
    html body {
        .page-container{
            width: 90vw;
        }
        .footer{
            display: flex;
            justify-content: start;
            h2,h3,ul{
                padding-left: 0;

            }
            .all-links{
                width: 100%;
                flex-direction: column;
            }
            hr{
                //width: ;
            }
        }
        .login-informations-block{
            flex-direction: column;
            .login-informations{
                min-width: 90%;
                .sentences{
                    max-width: 100%;
                    height: 240px;
                }
                img{
                    height: 240px;
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 580px){
    html body {
        .page-container{
            width: 95vw;
            .informations-block{
                .block{
                    height: 160px;
                    .questions{
                        width: 60%;
                        h3{
                            font-size: 1.1rem;
                        }
                        a{
                            font-size: .9rem;
                            margin-top: 0rem !important;
                        }
                    }
                    img{
                        height: 160px;
                        width: 40%
                    }
                }
            }
        }
        .search-and-sell {
            margin-left: -1rem;
            flex-direction: column;
            input {
                border-right: none;
                min-width: 100vw;
                box-shadow: 2px 1px 3px 1px $light-grey;
                &:nth-child(3) {
                    min-width: 100vw;
                }
            }
            button {
                width: 100vw;
                box-shadow: inset 0vw 0 0 0 $sea-blue, 0px 1px 3px $light-grey;
                &:hover {
                    box-shadow: inset 100vw 0 0 0 $mid-light-blue, 0px 1px 3px $light-grey;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    html body {
        .page-container {
            width: 100vw;
            .villa-group {
                grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            }
        }
    }
}