<footer class="footer d-flex justify-content-between">
    <div class="d-flex">
        <div>
            <span>Kenavo Immo</span>
            <ul class="footer-links">
                <li><a class="footer-link" href="#">S'incrire</a></li>
                <li><a class="footer-link" href="#">Se connecter</a></li>
                <li><a class="footer-link" href="#">Nous contacter</a></li>
            </ul>
        </div>
        <div>
            <span>Maisons</span>
            <ul class="footer-links">
                <li><a class="footer-link" href="#">Achats maison</a></li>
                <li><a class="footer-link" href="#">Ventes maison</a></li>
                <li><a class="footer-link" href="#">Location maison</a></li>
            </ul>
        </div>
        <div>
            <span>Appartements</span>
            <ul class="footer-links">
                <li><a class="footer-link" href="#">Achat appartement</a></li>
                <li><a class="footer-link" href="#">Vente appartement</a></li>
                <li><a class="footer-link" href="#">Location appartement</a></li>
            </ul>
        </div>
        <div>
            <span>Villas</span>
            <ul class="footer-links">
                <li><a class="footer-link" href="#">Achat villa</a></li>
                <li><a class="footer-link" href="#">Vente villa</a></li>
                <li><a class="footer-link" href="#">Location villa</a></li>
            </ul>
        </div>
    </div>
    <div>
        <span>Localisation</span>
        <ul class="footer-links">
            <li>125 avenue Aristide Briand</li>
            <li>35000 Rennes</li>
            <li>©2021 Copyright</li>
        </ul>
    </div>
</footer>