<footer class="footer d-block">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between mb-4">
            <div class="me-4">
                <h2>Kenavo Immo <div class="underline"><span></span></div></h2>
                <ul class="footer-links">
                    <li><a class="footer-link" href="#">S'incrire</a></li>
                    <li><a class="footer-link" href="#">Se connecter</a></li>
                    <li><a class="footer-link" href="#">Nous contacter</a></li>
                </ul>
            </div>
            <div class="me-4">
                <h3>Nos Maisons <div class="underline"><span></span></div></h3>
                <ul class="footer-links">
                    <li><a class="footer-link" href="#">Achats maison</a></li>
                    <li><a class="footer-link" href="#">Ventes maison</a></li>
                    <li><a class="footer-link" href="#">Location maison</a></li>
                </ul>
            </div>
            <div class="me-4">
                <h3>Nos Appartements <div class="underline"><span></span></div></h3>
                <ul class="footer-links">
                    <li><a class="footer-link" href="#">Achat appartement</a></li>
                    <li><a class="footer-link" href="#">Vente appartement</a></li>
                    <li><a class="footer-link" href="#">Location appartement</a></li>
                </ul>
            </div>
            <div class="me-4">
                <h3>Nos Villas <div class="underline"><span></span></div></h3>
                <ul class="footer-links">
                    <li><a class="footer-link" href="#">Achat villa</a></li>
                    <li><a class="footer-link" href="#">Vente villa</a></li>
                    <li><a class="footer-link" href="#">Location villa</a></li>
                </ul>
            </div>
        </div>
        <div>
            <h3>Réseaux sociaux <div class="underline"><span></span></div></h3>
            <ul class="footer-links">
                <li><a class="footer-link" href="">Facebook</a></li>
                <li><a class="footer-link" href="">Instagram</a></li>
                <li> <a class="footer-link" href="">Twitter</a></li>
            </ul>
        </div>
    </div>
    <hr class="mt-4">
    <p class="text-center">Kenavo Immo - ©2021 Copyright - 35000 Rennes - 125 avenue Aristide Briand </p>
</footer>
