<footer class="footer d-block">
    <div class="border-footer d-flex justify-content-center flex-wrap">
        <div class="me-4">
            <div class="circle"></div>
            <div class="logo">K</div>
        </div>
        <div class="all-links d-flex justify-content-start align-items-start mb-4 flex-wrap">
            <div class="me-4">
                <h2 class="mb-2">Kenavo Immo <div class="underline"><span></span></div></h2>
                <ul class="footer-links">
                    <li><a class="footer-link" href="#">S'incrire<div class="underline"></div></a></li>
                    <li><a class="footer-link" href="#">Se connecter<div class="underline"></div></a></li>
                    <li><a class="footer-link" href="#">Nous contacter<div class="underline"></div></a></li>
                </ul>
            </div>
            <div class="me-4">
                <h3 class="mb-2"><i class="fas fa-building"></i> | Nos appartements <div class="underline"><span></span></div></h3>
                <ul class="footer-links">
                    <li><a class="footer-link" href="#">Achat appartement<div class="underline"></div></a></li>
                    <li><a class="footer-link" href="#">Vente appartement<div class="underline"></div></a></li>
                    <li><a class="footer-link" href="#">Location appartement<div class="underline"></div></a></li>
                </ul>
            </div>
            <div class="me-4">
                <h3 class="mb-2"><i class="fas fa-home"></i> | Nos maisons <div class="underline"><span></span></div></h3>
                <ul class="footer-links">
                    <li><a class="footer-link" href="#">Achats maison<div class="underline"></div></a></li>
                    <li><a class="footer-link" href="#">Ventes maison<div class="underline"></div></a></li>
                    <li><a class="footer-link" href="#">Location maison<div class="underline"></div></a></li>
                </ul>
            </div>
            <div class="me-4">
                <h3 class="mb-2"><i class="fas fa-mosque"></i> | Nos villas <div class="underline"><span></span></div></h3>
                <ul class="footer-links">
                    <li><a class="footer-link" href="#">Achat villa<div class="underline"></div></a></li>
                    <li><a class="footer-link" href="#">Vente villa<div class="underline"></div></a></li>
                    <li><a class="footer-link" href="#">Location villa<div class="underline"></div></a></li>
                </ul>
            </div>
            <div>
                <h3 class="mb-2">Réseaux sociaux
                    <div class="underline"><span></span></div></h3>
                <ul class="footer-links">
                    <li><a class="footer-link" href="">Facebook<div class="underline"></div></a></li>
                    <li><a class="footer-link" href="">Instagram<div class="underline"></div></a></li>
                    <li> <a class="footer-link" href="">Twitter<div class="underline"></div></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-style"></div>
    <p class="text-center mt-3 mb-4">Kenavo Immo - ©2021 Copyright</p>
</footer>