<div class="d-flex justify-content-between p-3 header-background">
    <h1 class="principal-title ms-4"><a href="{{ path('index') }}"><span>K</span>enavo Immo</a></h1>
    <ul class="d-flex me-3 mt-3 header-list">
        <li class="me-3"><a href="#">Mes favoris <div class="underline"></div></a></li>
        <li class="me-3"><a href="#">Annonces masquées <div class="underline"></div></a></li>
        <li class="me-3"><a href="{{ path('app_login') }}">Se connecter <div class="underline"></div></a></li>
        <li class="me-3"><a href="{{ path('app_register') }}">S'inscrire <div class="underline"></div></a></li>
        <li class="me-3"><a href="#">Nous contacter<div class="underline"></div></a></li>
    </ul>
</div>
